---
---

@import "{{ site.theme }}";

body {
    padding: 0px;
}

p>code, li>code {
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: inline-block;
    padding: 1px 5px 1px 5px;
}

blockquote div.highlighter-rouge code {
    font-style: normal;
}

blockquote div.highlighter-rouge {
    margin-top: 20px;
}

header p.view {
    margin: 0 0 5px;
    padding-left:15px;
}

@media print, screen and (min-width: 1200px) {
    .wrapper {
      width:1100px;
      margin:0 auto;
    }
    section {
      width:740px;
    }
}
header .mt20 {
    margin-top:20px;
}

header .mt5 {
    margin-top:5px;
}

header h2, header h3, header h4, header h5, header h6 {
    margin-bottom: 5px;
}
.menu-item-comment {
    font-size: 11px;
    color:red;
}

.post-date {
    font-weight: bold;
    margin-bottom: 10px;
}

div.language-json {
    font-size: 12px;
}

.note {
    color: #264c72;
    border: 1px solid #97c1da;
    background-color: #d8ebf8;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
}