---
---

@import "{{ site.theme }}";

p>code, li>code {
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: inline-block;
    padding: 1px 5px 1px 5px;
}

blockquote div.highlighter-rouge code {
    font-style: normal;
}

blockquote div.highlighter-rouge {
    margin-top: 20px;
}

header p.view {
    margin: 0 0 5px;
}

@media print, screen and (min-width: 1200px) {
    .wrapper {
      width:1100px;
      margin:0 auto;
    }
    section {
      width:740px;
    }
}